*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing : border-box;
    
}
body{ 
    background: #fff;
    color: #00000000;
    
}
header {
    background-color: #2e2f92;
    padding: 10px;
    text-align: center;
}
h1{
    font-size: 17.5px;
    color: white;
    margin-inline-end: 1200px;

}
.container{
    height: 100vh;
    
}

nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.logo{
    width: 300px;
    margin-top: 10px;
    margin-left: 15px;
    
}
nav ul li{
    font-weight: bold;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    display: inline-block;
}
nav ul li a{
    color: #2e2f92;
    text-decoration: none;
    font-size: 17.5px;
    position: relative;

}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #e07147;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.image-scroller {
    width: 100%;
    height: calc(100%-90px); 
    margin-top: 50px;
    display: flex;
    
}

.slider-image {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    display: none;
    opacity:123qewfdsacxwo9m% ;
}
.slider-image.active {
    display: block;
}
